<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" >
    <title>{{ title }} - My Blue Butterfly</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
            <header>
            <div class="content-wrapper">
                <div  id="logo">
                    <a href="{% url 'home' %}"><img src="../../static/app/images/Title.png" alt="Well this worked yesterday..." class="mx-auto d-block"></a>
                </div>
                
            </div>
        </header>


    <div class="navbar navbar-inverse navbar-fixed-bottem " style="background-color: #062b4d ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <!--This does nothing that i know of... idk it's purpose though. this might be for the site icon pic thing...-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse" id="navbar-colors" >
                <!-- Navigation bar -->
                <ul class="nav navbar-nav" >
                    <li><a href="{% url 'home' %}">Home</a></li>

                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="main-body-content">
                {% block content %}{% endblock %}
        </div>        <hr/>
        <footer>
            <p>&copy; {{ year }} - My Blue Butterfly</p>
        </footer>
    </div>

   <!--for Bootstrap-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
    <!-- Mine-->
 

{% block scripts %}{% endblock %}

</body>
</html>
